<?xml version="1.0" encoding="utf-8"?><!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2016 Alvaro Garcia Lopez
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"),
  ~ to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
  ~ and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
  ~ INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
  ~ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
  ~ DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.algalopez.mytv">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->


        <!-- FAVOURITE -->
        <activity android:name=".presentation.activity.FavouriteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SHOW -->
        <activity android:name=".presentation.activity.ShowActivity" />

        <!-- SEASON -->
        <activity android:name=".presentation.activity.SeasonActivity" />

        <!-- EPISODE -->
        <activity android:name=".presentation.activity.EpisodeActivity" />

        <!-- SEARCH -->
        <activity android:name=".presentation.activity.SearchActivity" />

        <!-- SETTINGS -->
        <activity android:name=".presentation.activity.SettingsActivity" />

        <!-- LOOK -->
        <activity android:name=".presentation.activity.LookActivity" />

        <provider
            android:name=".data.local.provider.MyTVProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="false" />

        <activity android:name=".presentation.activity.AboutActivity"></activity>
    </application>

</manifest>